<h1>All about <%= animal.name %>!</h1>
<h4><%= animal.species %></h4>
<h4><%= animal.description %></h4>
<a href="/"><button>Home!</button></a>
<a href="/animals/edit/<%=animal._id%>"><button>Edit <%=animal.name%></button></a>